HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Ignore local configuration files
*-local.yml
*-local-docker.yml
*-dev.yml
*-dev-docker.yml

# Ignore environment variable files
.env
.env.local
.env.dev
.env.local.docker
.env.dev.docker

# Ignore log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
